@*|| barchart.css || barchart.js ||*@

@{
    ViewBag.Title = "BarChart";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}


<link href="~/Content/barchart.css" rel="stylesheet" />

<div class="app-content">
    <div class="container-fluid">
        <div class="row g-4">


            <!-- Group Selection -->
            <div class="col-md-12">
                <div class="card card-primary card-outline mb-0">
                    <div class="card-body">
                        <div class="row g-3 align-items-center">

                            <div class="col-md-2">
                                <div class="d-flex flex-column">
                                    <select id="ddlG1" class="form-control form-control-sm">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="d-flex flex-column">
                                    <select id="ddlG2" class="form-control form-control-sm">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <select id="ddlG3" class="form-control form-control-sm">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <div class="d-flex flex-column">
                                    <select id="ddlG4" class="form-control form-control-sm">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button id="btnLoadTrendChart" class="btn btn-primary btn-sm w-100">
                                    Load Chart
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div  style="height: 76vh; overflow: scroll;">

                <!-- Trend Chart -->
                <div class="col-md-12">
                    <div class="card card-primary card-outline mb-0">
                        <div class="card-body">
                            <div id="chartContainerTrend" style="height:420px; width:100%;"></div>
                        </div>
                    </div>
                </div>

                <!-- Trend Table -->
                <div class="col-md-12">
                    <div class="card card-primary card-outline mb-0">
                        <div class="card-body">
                            <div class="div-responsive">
                                <table id="gridTrendTable" class="table-chart-stats" border="1" width="100%">
                                    <tbody>
                                        <tr><td colspan="2" class="text-center">Select group(s) and click "Load Trend Chart"</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- CanvasJS -->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- jQuery (in case layout does not include it) -->
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
<script src="~/Scripts/barchart.js"></script>
