
@{
    ViewBag.Title = "TblScorrable";
    Layout = "~/Views/Shared/_TLayout.cshtml";
}

<style>
    .container {
        padding: 1rem;
    }

    .table-scroll {
        display: block;
        empty-cells: show;
        border-spacing: 0;
        border: 1px solid 1px solid #c2c2c2;
        font-family:'Times New Roman';
        font-size:14px;
        border-radius: 3px;
    }

        .table-scroll thead {
            background-color: #f1f1f1;
            position: relative;
            display: block;
            width: 100%;
            overflow-y: auto;
            font-size: small;
        }

        .table-scroll tbody {
            /* Position */
            display: block;
            position: relative;
            width: 100%;
            overflow-y: scroll;
            /* Decoration */
            border-top: 1px solid rgba(0,0,0,0.2);
        }

        .table-scroll tr {
            width: 100%;
            display: flex;
        }

        .table-scroll td, .table-scroll th {
            flex-basis: 100%;
            flex-grow: 2;
            display: block;
            padding: 3px;
            text-align: left;
        }

        /* Other options */

        .table-scroll.small-first-col td:first-child,
        .table-scroll.small-first-col th:first-child {
            flex-basis: 20%;
            flex-grow: 1;
        }

        .table-scroll tbody tr:nth-child(2n) {
            background-color: rgba(130,130,170,0.1);
        }

        .table-scroll tbody tr:hover {
            background-color: #17578761;
        }

    .body-half-screen {
        max-height: 50vh;
    }

    .small-col {
        flex-basis: 10%;
    }
</style>


<style type="text/css">
    .wd-100 {
        width: 100px;
    }

    .custom-tbl {
        font-size: 13px;
        font-family: 'Times New Roman';
    }
</style>


<div class="container">
    <h1>CSS only scrollable table body</h1>
    <table class="table-scroll small-first-col">
        <thead>
            <tr>
                <th>Head 1</th>
                <th>Head 2</th>
                <th>Head 3</th>
                <th>Head 4</th>
            </tr>
        </thead>
        <tbody class="body-half-screen">
            <tr>
                <td>1</td>
                <td>First row</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>A very long cell content comes here, just to test it all!!!</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>There is an empty cell above!</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td> Last row</td>
            </tr>
        </tbody>
    </table>
</div>

