/* Page loader overlay */
#pageLoader {
    display: none; /* Hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 87, 135, 0.3);
    z-index: 9999; /* On top of everything */
    align-items: center;
    justify-content: center;
}

/* Simple spinner */
.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #ff0000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-left: 50%;
    margin-top: 18%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
